language: android

jdk:
  - oraclejdk8

android:
  components:
  - tools
  - platform-tools
  - build-tools-26.0.2
  - android-26

before_script:
  # Install SDK license so Android Gradle plugin can install deps.
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"

script:
  - ./gradlew build
